@import "../assets/style/variables-style.scss";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

.about {
  position: relative;
  max-width: 44em;
  margin: 0 auto;
  padding: 120px 1em 60px;

  &::before {
    position: fixed;
    content: "";
    top: 0;
    width: 100%;
    height: 64px;
    background-color: $c-white;
  }

  section {
    padding: 1em;
    border: 1px solid;
     animation: show 2s linear;

    .img-wrapper {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    padding: 30px 15px 0;
    text-align: center;

    p {
      font-family: "NanumSquare", sans-serif;
      line-height: 1.8;
      word-break: keep-all;

      mark {
        padding: 0;
        background-color: #FADAD8;
        border-radius: 3px;
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}