@import "../assets/style/variables-style.scss";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.home {
  .home-view {
    position: relative;

    .carousel {
      .carousel-inner {
        .carousel-item {
          img {
            height: 100vh;
          }
        }
      }
    }

    .welcome-text {
      position: absolute;
      top: 4.7rem;
      width: 100%;
      text-align: center;

      h1,
      h2 {
        width: 100%;
        font-family: "Permanent Marker", cursive;
        font-size: 75px;
        text-transform: uppercase;

        span {
          width: 100%;
          float: left;
          color: #383a3f;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          transform: translateY(-50px);
          opacity: 0;
          animation-timing-function: ease;
          animation-duration: 5s;
        }
      }
      h1 {
        span {
          animation-name: titleAnimation1;
          animation-delay: 0.6s;
          -webkit-animation-fill-mode: forwards;

          &:first-child {
            animation-delay: 0.7s;
          }

          &:last-child {
            animation-delay: 0.5s;
          }
        }
      }

      h2 {
        top: 0;
        position: absolute;

        span {
          animation-name: titleAnimation2;
          animation-delay: 6.1s;
          -webkit-animation-fill-mode: forwards;

          &:first-child {
            animation-delay: 6.2s;
          }

          &:last-child {
            color: #d81159;
            animation-delay: 6s;
          }
        }
      }

      @keyframes titleAnimation1 {
        0% {
          transform: translateY(-50px);
          opacity: 0;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        }
        20% {
          transform: translateY(0);
          opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        }
        80% {
          transform: translateY(0);
          opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        }
        100% {
          transform: translateY(50px);
          opacity: 0;
          -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
          clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
        }
      }

      @keyframes titleAnimation2 {
        0% {
          transform: translateY(-50px);
          opacity: 0;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        }
        20% {
          transform: translateY(0);
          opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        }
        100% {
          transform: translateY(0);
          opacity: 1;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        }
      }
    }
  }
}
